@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.my-portfolio { 
    /* height: 100vh; */
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    background-color: darkorange;
    color: #fff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #fff;
    color: darkorange;
    transition: ease-in;
}

.icons-container {
    background: #fff;
    /* align-items: center; */
    text-align: center;
    border-radius: 50%;
}

.title {
    color: darkorange;
    border-bottom-style: solid;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
    border-radius: 10px;
    padding: 12px 24px;
}

.card-image img {
    width: 100%;
}

.card-title {
    font-weight: bolder;
    font-size: 35px;
}

.card-subtitle {
    font-size: 15px;
    color: gray;
}

.container {
    padding: 2px 16px;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.col-6 {
    grid-column: span 2;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .my-nav {
        /* background: #ffff; */
    }

    .my-nav-menu {
        display: none !important;
    }

    .my-nav-links > ul > li {
        display: block !important;
    }

    .my-nav-links > ul{
        display: flex !important;
        gap: 2rem !important;
        list-style-type: none !important;
        position: static !important;
        z-index: 0 !important;
        width: 100% !important;
        background-color: transparent !important;
        padding-top: 0px !important;
    }

    .my-nav-links > ul > li {
        font-size: 15px !important;
        cursor: pointer !important;
    }


    .my-home-right > img {
        display: block !important;
    }
    .my-home-left .icons img{
        display: block !important;
    }

    .my-aboutme-content img{
        width: 350px !important;
    }


    .row {
        grid-template-columns: auto auto auto auto !important;
    }

    .my-contactme-form {
        width: 50% !important;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .my-nav {
        background: black;
    }

    .my-aboutme-content img{
        width: 350px !important;
    }
}