@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.my-portfolio { 
    /* height: 100vh; */
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.button {
    background-color: darkorange;
    color: #fff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #fff;
    color: darkorange;
    transition: ease-in;
}

.icons-container {
    background: #fff;
    /* align-items: center; */
    text-align: center;
    border-radius: 50%;
}

.title {
    color: darkorange;
    border-bottom-style: solid;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
    border-radius: 10px;
    padding: 12px 24px;
}

.card-image img {
    width: 100%;
}

.card-title {
    font-weight: bolder;
    font-size: 35px;
}

.card-subtitle {
    font-size: 15px;
    color: gray;
}

.container {
    padding: 2px 16px;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.col-6 {
    grid-column: span 2;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}